// подключение шрифтов
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


// Цвета сайта

$l-green: #038638;
$m-green: #196b35;
$d-green: #185531;
$l-gray: #ededed;
$m-gray: #b2b2b2;
$d-gray: #878787;
$main-dark: #666;
$bg-dark: #29201e;
$accent:  #ea3944;


.btn-l-green {
	color: $l-green;
	transition: color .25s ease-out;

	&:hover {
		color: lighten($l-green, 7%);
		transition: color .25s ease-in;
	}
}

* {
	transition: .2s ease-out;
}