.collective {
	height: 600px;
	background: url(../img/line_diagonal2.png), linear-gradient(180deg, #ffffff, #fff), center no-repeat #fff scroll;
	border-bottom: 1px solid $l-gray;

	.grid-container {
		height: 100%;
		display: flex;
		align-items: center;
	}

	article {
		text-align: center;

		img {
			margin-bottom: 2rem;
		}

		.name {
			font-size: 1.2rem;
			strong {
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		.position {
			font-weight: bold;
			color: $l-green;
			line-height: 1.2;
		}
	}

	.collective-header {
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 3rem;
	}
}