.eco-book {
	min-height: 980px;
	height: 100vh;
	background: url(../img/line_diagonal2_black.png), linear-gradient(45deg, rgba(24,21,21,1) 0%,rgba(58,46,40,1) 100%);
	overflow: hidden;
	@media screen and (max-width: 420px) {
		display: none;
	}
}

.eco-book-container {
	height: 100%;
}

.eco-book-content {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	padding: 3rem 0;
	position: relative;
}

.eco-book-text {
	margin-bottom: 3rem;
	p {
		font-size: 18px;
		line-height: 1.2;
		color: $white;
		small {
			opacity: .8;
		}
	}

	.header {
		color: $white;
		text-transform: uppercase;
		line-height: 1.2;
		font-size: 48px;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	.sub-heder,
	.accent {
		color: $l-green;
		font-size: 24px;
	}

	.sub-heder {
		font-weight: bold;
	}

	.accent {
		margin-bottom: 2rem;
	}

	.recense {
		font-size: 1rem;
		opacity: .8;
		text-align: right;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	.button {
		background-color: $l-green;
		font-size: 1.2rem;
		font-weight: bold;
		text-transform: uppercase;
	}

}

.eco-book-qute {
	position: relative;
	margin-left: 2rem;

	&::before {
		position: absolute;
		content: "\f10e";
		font: normal normal normal 14px/1 FontAwesome;
		left: -1.5rem;
		top: -.5rem;
	}
}

.eco-book-link {
	padding: 1rem;
	text-align: right;
	text-transform: uppercase;
}

.eco-book-wrapper {
	position: relative;
}

.eco-book-img {
	position: absolute;
	margin-top: 3rem;
	left: 50%;
	top: 0;
}

.doc-list {
	align-self: flex-end;
	padding: 1.2rem;
	padding-bottom: 0;
	background: linear-gradient(to bottom, rgba(229,229,229,1) 79%,rgba(255,255,255,1) 98%);
	p {
		font-size: 18px;
		border-bottom: 1px dashed $l-green;
		padding-bottom: 1.2rem;
		margin: 0;
	}

	&__footer {
		text-align: right;
	}

	button {
		display: inline-block;
		color: $l-green;
		text-transform: uppercase;
		text-align: right;
		padding: 1rem;
		cursor: pointer;
	}
}

.doc-sublist {
	align-self: flex-end;
	h4 {
		font-size: 18px;
		color: $l-green;
		font-weight: bold;
	}

	&__link {
		font-size: .9rem;
		display: inline-block;
		line-height: 1.2;
		color: $white;
		margin-bottom: 1rem;
		opacity: .7;

		&:hover {
			color: $white;
			opacity: 1;
		}
	}
}