.hero {
	min-height: 720px;
	position: relative;
	background: $bg-dark;
	height: 100vh;
	background: url(../img/bg-ptu.jpg)50% 50%;
	background-size: cover;

	@media screen and (max-width: 420px) {
		min-height: auto;
		.privileges {
			display: none;
		}
	}

	.logo-container {
		display: flex;
    flex-wrap: wrap;
		justify-content: center;
		p {
			text-transform: uppercase;
			color: $white;
			opacity: .75;
			font-size: 1rem;
		}
		@media screen and (max-width: 1024px) {
			justify-content: flex-start;
		}
		@media screen and (max-width: 420px) {
			p {
				font-size: .8rem;
				text-align: center;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		@media screen and (max-width: 744px) {
			display: none;
		}
		& > a {
			text-decoration: underline;
		}
		ul {
			margin: 0;
		}
		li {
			text-align: right;
			font-size: 1.15rem;
			list-style: none;
			line-height: 1.4;
			a {
				color: $white;
				opacity: .7;
				transition: .3 ease-out .3;
				&:hover {
					opacity: 1;
					transition: .3 ease-in .3;
				}
			}
			i {
				font-size: 1.5rem;
				color: $l-green;
			}
		}
		
		&__btn {
			margin-top: .5rem;
		}
	}

	.header {
		text-transform: uppercase;
		color: $white;
		font-weight: bold;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40vh;

		@media screen and (max-width: 800px) {
			font-size: 2.4rem;
		}
		@media screen and (max-width: 420px) {
			font-size: 1.6rem;
		}
	}
	
	& > .grid-container {
		position: relative;
		height: 100%;
		z-index: 100;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 50%;
		background: linear-gradient(to right, rgba(41,32,30,1) 0%,rgba(41,32,30,0) 100%);
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 50%;
		background: linear-gradient(to left, rgba(41,32,30,1) 0%,rgba(41,32,30,0) 100%);
	}
}

.hero-bg {
	padding-top: 2rem;
	@media screen and (max-width: 420px) {
		padding: 0;
	}
}


.hero-logo {
	height: 70px;
	align-self: center;
}

.privileges {
	margin-top: 10vh;
	
	&__link {
		position: relative;
		display: block;
		color: $white;
		font-weight: bold;
		margin-bottom: .3rem;
		margin-left: 1.2em;

		&::before {
			content: "\f061";
			display:inline-block;
			position: absolute;
			top: 0;
			left: -1.2em;
			font: normal normal normal 14px/1 FontAwesome;
			transition: transform .3s ease-in, color .1s .2s;
		}
		
		&:hover:before {
			color: $l-green;
			transform: rotate3d(0, 1, 0, 360deg) scale(1.4);
			transition: transform .5s ease-out, color .1s .2s;
		}
	}
	
	&__link-icon {
		
		
	}
	
	&__link-text {
		text-decoration: underline;
		
		.privileges__link:hover & {
			color: $white;
		}
	}
	
}

.privileges-logo {
	background-color: $l-green;
	width: 6rem;
	height: 6rem;
	border-radius: 100%;

	@media screen and (max-width: 1024px) {
		display: none;
	}
}


.privileges-subcontent {
	position: relative;
	margin-top: 1rem; 
	background-color:rgba(0, 0, 0, 0.3);
	padding: .4rem .8rem;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 2px;
		background-color: $l-green;
	}
	
	span {
		color: $white;
		opacity: .7;
		line-height: 1.2;
		display: inline-block;
	}

}

.sub-content {
	background: url(../img/line_diagonal2.png), linear-gradient(180deg, #ffffff, #fff), center no-repeat #fff scroll;
	height: 200px;
	border-bottom: 1px $l-gray solid;
	border-top: 1px $l-gray solid;

	@media screen and (max-width: 420px) {
		display: none;
	}
	
	.grid-container {
		height: 100%;
		display: flex;
    align-items: center;
	}

	.cell {
		font-size: 1.2rem;
		line-height: 1.2;
	}
}