.license {
	margin-bottom: 2rem;
	padding: 1rem;
	background: url(../img/line_diagonal2.png),linear-gradient(to bottom, rgba(229,229,229,1) 79%,rgba(255,255,255,1) 98%);
	border: 1px solid $l-gray;
	
	&__img {
		align-self: flex-start;
	}
}