<section class="collective">

	<div class="grid-container">
		<div class="grid-x grid-margin-x">

			<h2 class="collective-header cell small-12">Ключевые сотрудники</h2>

			<article class="cell medium-3">
				<img src="assets/img/collective/ivonin.png" alt="" class="person">
				<p class="name">
					<strong>Ивонин</strong><br>
					Артем Владимирович				
				</p>
				<p class="position">генеральный директор</p>
			</article>
	
			<article class="cell medium-3">
				<img src="assets/img/collective/bagnuk.png" alt="" class="person">
				<p class="name">
					<strong>Багнюк</strong><br>
					Сергей Александрович				
				</p>
				<p class="position">начальник отдела распределения промышленных отходов</p>
			</article>
	
			<article class="cell medium-3">
				<img src="assets/img/collective/volodina.png" alt="" class="person">
				<p class="name">
					<strong>Володина</strong><br>
					Софья Игоревна				
				</p>
				<p class="position">ведущий юрист</p>
			</article>
	
			<article class="cell medium-3">
				<img src="assets/img/collective/aifalov.png" alt="" class="person">
				<p class="name">
					<strong>Айфалов</strong><br>
					Никита Сергеевич				
				</p>
				<p class="position">руководитель отдела по работе <br>с клиентами					</p>
			</article>

		</div>

	</div>

</section>