<section id="company" class="collective">

	<div class="grid-container">
		<div class="grid-x grid-margin-x">

			<h2 class="collective-header cell small-12">Ключевые сотрудники компании</h2>

			<article class="cell medium-3">
				<img src="assets/img/collective/ivonin.png" alt="" class="person">
				<p class="name">
					<strong>Ивонин</strong>
					<br> Артем Владимирович
				</p>
				<p class="position">генеральный
					<br>директор</p>
			</article>

			<article class="cell medium-3">
				<img src="assets/img/collective/bagnuk.png" alt="" class="person">
				<p class="name">
					<strong>Багнюк</strong>
					<br> Сергей Александрович
				</p>
				<p class="position">начальник отдела распределения промышленных отходов</p>
				<button data-open="utilModal" class="button collective-question">Получить консультацию</button>
			</article>

			<article class="cell medium-3">
				<img src="assets/img/collective/volodina.png" alt="" class="person">
				<p class="name">
					<strong>Володина</strong>
					<br> Софья Игоревна
				</p>
				<p class="position">ведущий <br>юрисконсульт</p>
				<button data-open="uristModal" class="button collective-question">Получить консультацию</button>
			</article>

			<article class="cell medium-3">
				<img src="assets/img/collective/aifalov.png" alt="" class="person">
				<p class="name">
					<strong>Айфалов</strong>
					<br> Никита Сергеевич
				</p>
				<p class="position">руководитель отдела по работе
					<br>с клиентами</p>
				<button data-open="clientHelperModal" class="button collective-question">Получить консультацию</button>

			</article>

		</div>

	</div>

</section>

<div class="reveal modal-form tiny" id="clientHelperModal" data-reveal>
	<form class="grid-container">
		<div class="grid-x grid-padding-x">
			<h6 class="small-12 cell modal-form__header">Консультация по обращению с отходами</h6>
			<p class="small-12 cell modal-form__text">Отправьте Ваши данные. Опишите проблему. Специалист нашей компании позвонит Вам и бесплатно проконсультирует по вопросам обращения с промышленными отходами.</p>
			<div class="small-12 cell">
				<label>Имя
					<input type="text" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Телефон
					<input type="tel" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Email
					<input type="email" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Вопрос
					<textarea></textarea>
				</label>
			</div>
			<div class="small-12 cell">
				<button class="button expanded modal-form__btn">Отправить</button>
			</div>
		</div>
	</form>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal modal-form tiny" id="uristModal" data-reveal>
	<form class="grid-container">
		<div class="grid-x grid-padding-x">
			<h6 class="small-12 cell modal-form__header">Консультация юридического отдела</h6>
			<p class="small-12 cell modal-form__text">Отправьте Ваши данные. Опишите проблему. Специалист Юридического отдела перезвонит и бесплатно проконсультирует по Вашему вопросу.</p>
			<div class="small-12 cell">
				<label>Имя
					<input type="text" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Телефон
					<input type="tel" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Email
					<input type="email" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Вопрос
					<textarea></textarea>
				</label>
			</div>
			<div class="small-12 cell">
				<button class="button expanded modal-form__btn">Отправить</button>
			</div>
		</div>
	</form>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal modal-form tiny" id="utilModal" data-reveal>
	<form class="grid-container">
		<div class="grid-x grid-padding-x">
			<h6 class="small-12 cell modal-form__header">Консультация отдела РПО</h6>
			<p class="small-12 cell modal-form__text">Отправьте Ваши данные. Опишите проблему. Специалист отдела РПО перезвонит и бесплатно проконсультирует по Вашему вопросу.</p>
			<div class="small-12 cell">
				<label>Имя
					<input type="text" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Телефон
					<input type="tel" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Email
					<input type="email" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Вопрос
					<textarea></textarea>
				</label>
			</div>
			<div class="small-12 cell">
				<button class="button expanded modal-form__btn">Отправить</button>
			</div>
		</div>
	</form>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>