<section class="eco-book" id="ecoBook">

	<article class="eco-book-container grid-container">
		<div class="eco-book-content grid-x grid-margin-x">

			<div class="eco-book-text cell medium-6">
				<h2 class="header">Решение <br>главных вопросов <br>экологии</h2>
				<p class="sub-heder">Информационный продукт не имеющий аналогов в России</p>
				<p class="accent">Методическое пособие для экологов</p>
				<p>Удобное пособие для экологов предприятия, а так же для специалистов, не имеющих профильного образования, на которых возложены данные обязанности. Удобный формат, простая подача материала, отсутствие «текстовой воды» делают это издание действительно рабочим инструментом.</p>
				<p class="recense"><strong>Акшенцева Лейсан Галиахметовна</strong> <br>Директор АНО ДПО Учебно-деловой центр "Специалист"</p>
				<button class="button">Получить издание</button>
				<p><small>* Распространяется бесплатно</small></p>
			</div>

			<img src="assets/img/brochure.png" alt="" class="eco-book-img">

			<div class="cell medium-6"></div>

			<div class="doc-list cell medium-6">
				<p>Скачать полный перечень документов, которые могут быть затребованы при проведении мероприятий по государственному экологическому надзору.</p>
				<div class="doc-list__footer">
					<a href="#" class="btn-l-green">Скачать</a>
				</div>
			</div>

			<div class="doc-sublist cell medium-6">
				<h4>Деятельность компании регламентируется:</h4>
				<p>Федеральный закон № 89-ФЗ «Об отходах производства и потребления».
						<br>---<br>
						Федеральный закон №52-ФЗ «Осанитарно-эпидемиологическом благополучии населения».
						<br>---<br>
						Постановление Главного санитарного врача РФ № 80 «О введении в действие санитарно-эпидемиологических правил и нормативов СанПиН 2.1.7.1322-03»</p>
			</div>

		</div>
	</article>

</section>