<section class="eco-book" id="ecoBook">

	<article class="eco-book-container grid-container">
		<div class="eco-book-content grid-x grid-margin-x">

			<div class="eco-book-text cell medium-6">
				<h2 class="header">Решение <br>главных вопросов <br>экологии</h2>
				<p class="sub-heder">Информационный продукт не имеющий аналогов в России</p>
				<p class="accent">Методическое пособие для экологов</p>
				<p class="eco-book-qute">Удобное пособие для экологов предприятия, а так же для специалистов, не имеющих профильного образования, на которых возложены данные обязанности. Удобный формат, простая подача материала, отсутствие «текстовой воды» делают это издание действительно рабочим инструментом.</p>
				<p class="recense"><strong>Акшенцева Лейсан Галиахметовна</strong> <br>Директор АНО ДПО Учебно-деловой центр "Специалист"</p>
				<div class="grid-x grid-margin-x">
					<div class="medium-6 cell">
						<button class="button" data-open="ecoBookModal">Получить издание</button>
						<p><small>* Распространяется бесплатно</small></p>
					</div>
					<div class="eco-book-link medium-6 cell">
						<a href="http://prominf.ru/article/azbuka-ekologa" target="_blank">Подробнее</a>
					</div>
				</div>
			</div>

			<img src="assets/img/brochure.png" alt="" class="eco-book-img">

			<div class="cell medium-6"></div>

			<div class="doc-list cell medium-6">
				<p>Скачать полный перечень документов, которые могут быть затребованы при проведении мероприятий по государственному экологическому надзору.</p>
				<div class="doc-list__footer">
					<button class="btn-l-green" data-open="docModal">Скачать</button>
				</div>
			</div>

			<div class="doc-sublist cell medium-6">
				<h4>Деятельность компании регламентируется:</h4>
				<a href="#" class="doc-sublist__link">Федеральный закон № 89-ФЗ «Об отходах производства и потребления».</a>
				<a href="#" class="doc-sublist__link">Федеральный закон №52-ФЗ «Осанитарно-эпидемиологическом благополучии населения».</a>
				<a href="#" class="doc-sublist__link">Постановление Главного санитарного врача РФ № 80 «О введении в действие санитарно-эпидемиологических правил и нормативов СанПиН 2.1.7.1322-03»</a>
			</div>

		</div>
	</article>

</section>

<div class="reveal modal-form tiny" id="ecoBookModal" data-reveal>
	<form class="grid-container">
		<div class="grid-x grid-padding-x">
			<h6 class="small-12 cell modal-form__header">Получить издание</h6>
			<p class="small-12 cell modal-form__text">Отправьте Ваши контакты и мы в ближайшее время отправим вам методическое пособие для экологов.</p>
			<div class="small-12 cell">
				<label>Имя
					<input type="text" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Email
					<input type="email" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<button class="button expanded modal-form__btn">Отправить</button>
			</div>
		</div>
	</form>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal modal-form tiny" id="docModal" data-reveal>
	<form class="grid-container">
		<div class="grid-x grid-padding-x">
			<h6 class="small-12 cell modal-form__header">Заказать перечень документов</h6>
			<p class="small-12 cell modal-form__text">Отправьте Ваши контакты и мы в ближайшее время отправим вам полный перечень документов которые могут быть затребованы при проведении мероприятий по государственному экологическому надзору.</p>
			<div class="small-12 cell">
				<label>Имя
					<input type="text" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Email
					<input type="email" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<button class="button expanded modal-form__btn">Отправить</button>
			</div>
		</div>
	</form>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>