<section class="events grid-container">

	<div class="events__wrapper">

		<nav class="events__navigation">

			<ul>
				<li><a href="#" class="events__contol-btn slick-active">Участие компании в отраслевых мероприятиях</a></li>
				<li><a href="#" class="events__contol-btn">Общественные и социальные мероприятия</a></li>
				<li><a href="#" class="events__contol-btn">Публикации в СМИ</a></li>
			</ul>

		</nav>

		<section class="events__carousel">

			<article class="events__card">

				<div class="events__thumbnail">
					<div class="events__img-box">
						<img src="/assets/img/events/pc-1-1.jpg" alt="" class="events__img">
					</div>
				</div>

				<div class="events__description">
					<h3>Татарский нефтегазохимический формум</h3>
					<p>В Республике Татарстан с 7 по 9 сентября прошел Татарский нефтегазохимический форум, посвященный 100-летию со дня...</p>
				</div>

				<div class="events__event-btn">
					<a href="#">Подробнее</a>
				</div>
			</article>

			<article class="events__card">

				<div class="events__thumbnail">
					<div class="events__img-box">
						<img src="/assets/img/events/pc-1-2.jpg" alt="" class="events__img">
					</div>
				</div>

				<div class="events__description">
					<h3>УЧАСТИЕ В ЕЖЕГОДНОЙ ВЫСТАВКЕ «НЕФТЬ. ГАЗ. ХИМИЯ 2016»</h3>
					<p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть. Газ. Химия 2016».</p>
				</div>

				<div class="events__event-btn">
					<a href="#">Подробнее</a>
				</div>
			</article>

		</section>

	</div>

</section>


<section class="sub-content question">
	<div class="grid-container">
		<div class="cell">
				<p>Остались вопросы?</p>
				<a href="#" class="button">Задать вопрос</a>
		</div>
	</div>
</section>