<section class="events grid-container">

	<div class="events__wrapper">

		<nav id="slickNav" class="events__navigation">
			<button data-slide="1" class="events__contol-btn active">Участие компании в отраслевых мероприятиях</button>
			<button data-slide="2" class="events__contol-btn">Общественные и социальные мероприятия</button>
			<button data-slide="3" class="events__contol-btn">Публикации в СМИ</button>
		</nav>

		<section id="slickCon" class="events__carousel">

			<div id="slickOne" class="events__cards slick-slide">
	
				<article class="events__card">
	
					<div class="events__thumbnail">
						<div class="events__img-box">
							<img src="assets/img/events/pc-1-1.jpg" alt="" class="events__img">
						</div>
					</div>
	
					<div class="events__description">
						<h3>Татарский нефтегазохимический формум</h3>
						<p>В Республике Татарстан с 7 по 9 сентября прошел Татарский нефтегазохимический форум, посвященный 100-летию со дня...</p>
					</div>
	
					<div class="events__event-btn">
						<a href="#" class="btn-l-green">Подробнее</a>
					</div>
				</article>
	
				<article class="events__card">
	
					<div class="events__thumbnail">
						<div class="events__img-box">
							<img src="assets/img/events/pc-1-2.jpg" alt="" class="events__img">
						</div>
					</div>
	
					<div class="events__description">
						<h3>УЧАСТИЕ В ЕЖЕГОДНОЙ ВЫСТАВКЕ «НЕФТЬ. ГАЗ. ХИМИЯ 2016»</h3>
						<p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть. Газ. Химия 2016».</p>
					</div>
	
					<div class="events__event-btn">
						<a href="#" class="btn-l-green">Подробнее</a>
					</div>
				</article>

			</div>

			<div id="slickTwo" class="events__cards slick-slide">
	
				<article class="events__card">
	
					<div class="events__thumbnail">
						<div class="events__img-box">
							<img src="assets/img/events/pc-1-2.jpg" alt="" class="events__img">
						</div>
					</div>
	
					<div class="events__description">
						<h3>УЧАСТИЕ В ЕЖЕГОДНОЙ ВЫСТАВКЕ «НЕФТЬ. ГАЗ. ХИМИЯ 2016»</h3>
						<p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть. Газ. Химия 2016».</p>
					</div>
	
					<div class="events__event-btn">
						<a href="#" class="btn-l-green">Подробнее</a>
					</div>
				</article>
	
				<article class="events__card">
	
					<div class="events__thumbnail">
						<div class="events__img-box">
							<img src="assets/img/events/pc-1-2.jpg" alt="" class="events__img">
						</div>
					</div>
	
					<div class="events__description">
						<h3>УЧАСТИЕ В ЕЖЕГОДНОЙ ВЫСТАВКЕ «НЕФТЬ. ГАЗ. ХИМИЯ 2016»</h3>
						<p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть. Газ. Химия 2016».</p>
					</div>
	
					<div class="events__event-btn">
						<a href="#" class="btn-l-green">Подробнее</a>
					</div>
				</article>
	
				<article class="events__card">
	
					<div class="events__thumbnail">
						<div class="events__img-box">
							<img src="assets/img/events/pc-1-2.jpg" alt="" class="events__img">
						</div>
					</div>
	
					<div class="events__description">
						<h3>УЧАСТИЕ В ЕЖЕГОДНОЙ ВЫСТАВКЕ «НЕФТЬ. ГАЗ. ХИМИЯ 2016»</h3>
						<p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть. Газ. Химия 2016».</p>
					</div>
	
					<div class="events__event-btn">
						<a href="#" class="btn-l-green">Подробнее</a>
					</div>
				</article>
	
				<article class="events__card">
	
					<div class="events__thumbnail">
						<div class="events__img-box">
							<img src="assets/img/events/pc-1-2.jpg" alt="" class="events__img">
						</div>
					</div>
	
					<div class="events__description">
						<h3>УЧАСТИЕ В ЕЖЕГОДНОЙ ВЫСТАВКЕ «НЕФТЬ. ГАЗ. ХИМИЯ 2016»</h3>
						<p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть. Газ. Химия 2016».</p>
					</div>
	
					<div class="events__event-btn">
						<a href="#" class="btn-l-green">Подробнее</a>
					</div>
				</article>
	
				<article class="events__card">
	
					<div class="events__thumbnail">
						<div class="events__img-box">
							<img src="assets/img/events/pc-1-2.jpg" alt="" class="events__img">
						</div>
					</div>
	
					<div class="events__description">
						<h3>УЧАСТИЕ В ЕЖЕГОДНОЙ ВЫСТАВКЕ «НЕФТЬ. ГАЗ. ХИМИЯ 2016»</h3>
						<p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть. Газ. Химия 2016».</p>
					</div>
	
					<div class="events__event-btn">
						<a href="#" class="btn-l-green">Подробнее</a>
					</div>
				</article>

			</div>

			<div id="slickThree" class="events__cards slick-slide">
	
				<article class="events__card">
	
					<div class="events__thumbnail">
						<div class="events__img-box">
							<img src="assets/img/events/pc-1-1.jpg" alt="" class="events__img">
						</div>
					</div>
	
					<div class="events__description">
						<h3>Татарский нефтегазохимический формум</h3>
						<p>В Республике Татарстан с 7 по 9 сентября прошел Татарский нефтегазохимический форум, посвященный 100-летию со дня...</p>
					</div>
	
					<div class="events__event-btn">
						<a href="#" class="btn-l-green">Подробнее</a>
					</div>
				</article>
	
				<article class="events__card">
	
					<div class="events__thumbnail">
						<div class="events__img-box">
							<img src="assets/img/events/pc-1-2.jpg" alt="" class="events__img">
						</div>
					</div>
	
					<div class="events__description">
						<h3>УЧАСТИЕ В ЕЖЕГОДНОЙ ВЫСТАВКЕ «НЕФТЬ. ГАЗ. ХИМИЯ 2016»</h3>
						<p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть. Газ. Химия 2016».</p>
					</div>
	
					<div class="events__event-btn">
						<a href="#" class="btn-l-green">Подробнее</a>
					</div>
				</article>

			</div>

		</section>

	</div>

</section>


<section class="sub-content question">
	<div class="grid-container">
		<div class="cell">
				<p>Остались вопросы?</p>
				<a href="#" class="button">Задать вопрос</a>
		</div>
	</div>
</section>