<footer class="footer">
	<div class="footer__wrapper grid-container">
		<div class="footer__grid grid-x grid-margin-x">

			<div class="cell small-4">
				<nav class="footer__nav">
					<h4>Услуги</h4>
					<ul>
						<li><a href="#">Паспортизация отхода, ПНООЛР</a></li>
						<li><a href="#">Утилизация нефтешламов</a></li>
						<li><a href="#">Обезвреживание гальваношламов</a></li>
						<li><a href="#">Утилизация СОЖ</a></li>
						<li><a href="#">Утилизация оборудования с ПХБ</a></li>
						<li><a href="#">Утилизация медицинских отходов</a></li>
					</ul>
				</nav>
			</div>

			<div class="footer__logo cell small-4">
				<img src="assets/img/logo/logo_LG_ptu_web.svg" alt="Логотип ПромТехУтилизация">
				<p>Утилизация отходов  I-IV классов опасности по Рф</p>
			</div>

			<div class="footer__contacts cell small-4">
				<div class="footer__contact">
					<i class="fa fa-home fa-gw" aria-hidden="true"></i>
					<div class="item">
						<a href="#">426011, Удмуртская Республика <br>г. Ижевск, ул. Майская, д.8, оф.39</a>
					</div>
				</div>
				<div class="footer__contact">
					<i class="fa fa-phone fa-gw" aria-hidden="true"></i>
					<div class="item">
						<a href="#">+7 (3412) 77-56-04</a>
						<a href="#">+7 (922) 523-50-44</a>
					</div>
				</div>
				<div class="footer__contact">
					<i class="fa fa-envelope-open-o fa-gw" aria-hidden="true"></i>
					<div class="item">
						<a href="#">office@lider-group.pro</a>
					</div>
				</div>
			</div>

			<p class="footer__copyright cell small-12">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> <strong>ПромТехУтилизация 2017</strong> Все права защищены</p>
		</div>
	</div>
</footer>