<header class="hero">

	<section class="grid-container">
		<div class="hero-bg grid-x grid-margin-x">

			<div class="logo-container cell large-offset-3 small-6">
				<img class="hero-logo" src="/assets/img/logo/logo_LG_ptu_web.svg" alt="Лого ПромТехУтилизация">
				<p>Утилизация отходов I-IV классов опасности по Рф</p>
			</div>

			<div class="contacts cell small-3">
				<ul class="cotntacts-list">
					<li>
						<i class="fa fa-phone fa-fw" aria-hidden="true"></i>
						<a href="#">+7 (3412) 77-66-31</a>
					</li>
					<li>
						<i class="fa fa-envelope-open-o fa-fw" aria-hidden="true"></i>
						<a href="#">office@lider-group.pro</a>
					</li>
				</ul>
				<a href="#">Заказать звонок</a>
			</div>

			<h1 class="header cell small-12">
				Полный комплекс услуг </br>по утилизации промышленных отходов
			</h1>

			<div class="privileges cell small-4 grid-x grid-margin-x">

				<div class="privileges-logo">
					<img src="/assets/img/logo/logo-privilege-01.png" alt="">
				</div>

				<div class="privileges-content auto cell">
					<a href="#">
						<i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i>
						<span>ПАСПОРТИЗАЦИЯ ОТХОДОВ</span>
					</a>
					<a href="#">
						<i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i>
						<span>РАЗРАБОТКА ПНООЛР</span>
					</a>
					<div class="privileges-subcontent">
						<span>ЭКОАНАЛИТИЧЕСКАЯ ЛАБОРАТОРИЯ</span>
					</div>
				</div>
			</div>

			<div class="privileges cell small-4 grid-x grid-margin-x">

				<div class="privileges-logo">
					<img src="/assets/img/logo/logo-privilege-01.png" alt="">
				</div>

				<div class="privileges-content auto cell">
					<a href="#">
						<i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i>
						<span>ТРАНСПОРТИРОВКА</span>
					</a>
					<a href="#">
						<i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i>
						<span>СБОР</span>
					</a>
					<div class="privileges-subcontent">
						<span>3149 НАИМЕНОВАНИЙ ПРОМЫШЛЕННЫХ ОТХОДОВ СОГЛАСНО ФККО</span>
					</div>
				</div>
			</div>

			<div class="privileges cell small-4 grid-x grid-margin-x">

				<div class="privileges-logo">
					<img src="/assets/img/logo/logo-privilege-01.png" alt="">
				</div>

				<div class="privileges-content auto cell">
					<a href="#">
						<i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i>
						<span>УТИЛИЗАЦИЯ</span>
					</a>
					<a href="#">
						<i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i>
						<span>ОБЕЗВРЕЖИВАНИЕ</span>
					</a>
					<div class="privileges-subcontent">
						<span>БОЛЕЕ 30 ОБЪЕКТОВ РАЗМЕЩЕНИЯ ОТХОДОВ ПО РОССИИ</span>
					</div>
				</div>
			</div>

		</div>
	</section>

</header>

<section class="sub-content">
	<div class="grid-container">
		<div class="cell">
				ПромТехУтилизация - это комплексное и профессиональное обращение с промышленными отходами, грамотная логистика для экономии средств предприятия на транспортировке отходов, более 30 специализированных объектов утилизации отходов, размещения и захоронения по всей России.
		</div>
	</div>
</section>