<div class="reveal tiny modal-form" id="callBack" data-reveal>
	<form class="grid-container">
		<div class="grid-x grid-padding-x">
			<h6 class="small-12 cell modal-form__header">Заказать обратный звонок</h6>
			<p class="small-12 cell modal-form__text">Отправьте Ваши данные. Специалист нашей компании позвонит Вам и бесплатно проконсультирует по впоросам обращения с промышленными отходами.</p>
			<div class="small-12 cell">
				<label>Имя
					<input type="text" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Телефон
					<input type="tel" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<button class="button expanded modal-form__btn">Отправить</button>
			</div>
		</div>
	</form>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>