<div {{#ifpage 'index'}} id="navigation"{{/ifpage}}	class="navigation">

	<div class="navigation__left-bar" data-magellan>

		<a class="navigation__logo" href="/">
			<img src="assets/img/logo/logo_LG_ptu_web.svg" alt="Логотип ПромТехУтилизация">
		</a>
		
		<ul class="navigation__menu">

			{{#ifpage 'index'}}
				<li class="navigation__none">
					<a href="#hero">Главная</a>
				</li>
				<li>
					<a href="#license">Лицензия</a>
				</li>
				<li>
					<a href="#services">Услуги</a>
				</li>
				<li class="navigation__none">
					<a href="#ecoBook">Азбука эколога</a>
				</li>
				<li class="navigation__none">
					<a href="#company">О компании</a>
				</li>
				<li>
					<a href="contacts.html">Контакты</a>
				</li>
			{{/ifpage}}

			{{#unlesspage 'index'}}
				<li>
					<a href="/">Главная</a>
				</li>
				<li>
					<a href="/#license">Лицензия</a>
				</li>
				<li>
					<a href="/#services">Услуги</a>
				</li>
				<li class="navigation__none">
					<a href="/#ecoBook">Азбука эколога</a>
				</li>
				<li class="navigation__none">
					<a href="/#company">О компании</a>
				</li>
				<li>
					<a href="contacts.html">Контакты</a>
				</li>
			{{/unlesspage}}

		</ul>
	</div>

	<div class="navigation__right-bar">
		<ul class="navigation__contacts">
			<li>
				<i class="fa fa-phone fa-fw" aria-hidden="true"></i>
				<a href="tel:+73412776631">+7 (3412) 77-66-31</a>
			</li>
			<li>
				<i class="fa fa-envelope-open-o fa-fw" aria-hidden="true"></i>
				<a href="mailto:office@lider-group.pro">office@lider-group.pro</a>
			</li>
		</ul>
		<button data-open="exampleModal1" type="button" class="button navigation__btn">Заключить договор</button>
	</div>
	
</div>
	
<div class="reveal modal-form tiny" id="exampleModal1" data-reveal>
	<form class="grid-container">
		<!-- Hidden Required Fields -->
		<input type="hidden" name="project_name" value="ПромТехУтилизация">
		<input type="hidden" name="admin_email" value="office@lider-group.pro">
		<input type="hidden" name="form_subject" value="Заявка на заключение договора">
		<!-- END Hidden Required Fields -->
		<div class="grid-x grid-padding-x">
			<h6 class="small-12 cell modal-form__header">Заключить договор на утилизацию отходов</h6>
			<p class="small-12 cell modal-form__text">Отправьте Ваши данные и наши менеджеры свяжутся с вами в ближайшее время.</p>
			<div class="small-12 cell">
				<label>Имя
					<input type="text" name="Имя" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Телефон
					<input type="tel" name="Телефон" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<label>Email
					<input type="email" name="E-mail" placeholder="">
				</label>
			</div>
			<div class="small-12 cell">
				<button type="submit" class="button expanded modal-form__btn">Отправить</button>
			</div>
		</div>
	</form>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>