<section class="services grid-container">

	<article class="doc grid-x grid-margin-x">

		<img src="/assets/img/services/doc-img.jpg" alt="" class="doc-img cell small-4">

		<div class="doc-content auto cell">
			<h2 class="services-header">Лицензия</h2>
			<p class="services-text">Согласно ФЗ от 24.06.1998 № 89 компания имеет лицензию на осуществление деятельности по сбору, транспортированию, обработке,
				утилизации, размещению отходов 1-4 кассов опасности, содержащую 3149 наименований отходов согласно федеральному классификационному
				каталогу отходов.</p>
			<a href="#" class="services-btn">Подробнее</a>
		</div>

	</article>

	<article class="services-block grid-x grid-margin-x">

		<div class="services-wrapper cell small-12">

			<div class="services-description">
				<h2 class="services-header">Услуги</h2>
				<p class="services-text">Грамотная утилизация промышленных отходов — весомый фактор сохранения экологии и здоровья общества. Промышленные отработки
					предприятий – это опасные материалы, которые образуются в технологическом процессе промышленного производства. Как правило,
					вторичное использование промышленных отходов не имеет места. Степень опасности этого вида отработок варьируется от безвредных
					материалов и до очень токсичных.</p>
				<a href="#" class="services-btn">Подробнее</a>
			</div>

			<a href="#" class="services-product">
				<img src="/assets/img/services/product-1.jpg" alt="" class="product-img">
				<h3>ПАСПОРТИЗАЦИЯ, ПНООЛР, ЮРИДИЧЕСКОЕ СОПРОВОЖДЕНИЕ, ЛИЦЕНЗИРОВАНИЕ</h3>
			</a>

			<a href="#" class="services-product">
				<img src="/assets/img/services/product-2.jpg" alt="" class="product-img">
				<h3>УТИЛИЗАЦИЯ НЕФТЕСОДЕРЖАЩИХ ОТХОДОВ</h3>
			</a>

			<a href="#" class="services-product">
				<img src="/assets/img/services/product-3.jpg" alt="" class="product-img">
				<h3>ОБЕЗВРЕЖИВАНИЕ ГАЛЬВАНОШЛАМОВ И ХИМИЧЕСКИХ ОТХОДОВ</h3>
			</a>

			<a href="#" class="services-product">
				<img src="/assets/img/services/product-4.jpg" alt="" class="product-img">
				<h3>УТИЛИЗАЦИЯ СОЖ, ОТРАБОТАННЫХ МАСЕЛ, РАСТВОРИТЕЛЕЙ, ЛКМ</h3>
			</a>

			<a href="#" class="services-product">
				<img src="/assets/img/services/product-5.jpg" alt="" class="product-img">
				<h3>СБОР ДЛЯ ПОСЛЕДУЮЩЕЙ УТИЛИЗАЦИИ ОБОРУДОВАНИЯ С СОДЕРЖАНИЕМ ПХБ</h3>
			</a>

			<a href="#" class="services-product">
				<img src="/assets/img/services/product-6.jpg" alt="" class="product-img">
				<h3>УТИЛИЗАЦИЯ РТУТНЫХ ЛАМП И МЕДИЦИНСКИХ ОТХОДОВ</h3>
			</a>

		</div>

	</article>

</section>


<section class="sub-content">
	<div class="grid-container">
		<div class="cell">
			Многолетний опыт работы ООО ПромТехУтилизации позволяет оперативно решать любые вопросы по утилизации отходов от паспортизации отхода, безопасного сбора и транспортировки любых видов промышленных отходов до конечной утилизации, обезвреживания либо размещения отхода на ОРО (спец полигоны).
		</div>
	</div>
</section>