<section class="services grid-container">

	<article id="license" class="doc grid-x grid-margin-x">

		<img src="assets/img/services/doc-img.jpg" alt="" class="doc-img cell small-4">

		<div class="doc-content auto cell">
			<h2 class="services-header">Лицензия на&nbsp;право обращения с&nbsp;отходами <br>I-IV классов опасности</h2>
			<p class="services-text">Согласно ФЗ от 24.06.1998 № 89 компания имеет лицензию на осуществление деятельности по сбору, транспортированию, обработке, утилизации, размещению отходов 1-4 кассов опасности, содержащую 3149 наименований отходов согласно федеральному классификационному каталогу отходов.</p>
			<a href="license.html" class="services-btn btn-l-green">Подробнее</a>
		</div>

	</article>

	<article id="services" class="services-block grid-x grid-margin-x">

		<div class="services-wrapper cell small-12">

			<div class="services-description">
				<h2 class="services-header">Услуги</h2>
				<p class="services-text">В зависимости от компонентов составляющей отхода, которая в свою очередь определяется при паспортизации отхода, зависит выбор метода утилизации отхода, обезвреживания либо переработки отхода. Также существует огромнае масса промышленных отходов, которые не подлежат дальнейшей переработке либо утилизации и согласно действующему законодательству должны проходить процедуру захоронения на специализированных полигонах (Объекты Размещения Отходов).</p>
			</div>

			<a href="legal.html" class="services-product">
				<img src="assets/img/services/product-1.jpg" alt="" class="product-img">
				<h3>
					<ul>
						<li>Паспортизация</li>
						<li>ПНООЛР</li>
						<li>Лицензирование</li>
					</ul> 
				</h3>
			</a>

			<a href="neft.html" class="services-product">
				<img src="assets/img/services/product-2.jpg" alt="" class="product-img">
				<h3>
					<ul>
						<li>Нефтесодержащие отходы</li>
					</ul>
				</h3>
			</a>

			<a href="service-page.html" class="services-product">
				<img src="assets/img/services/product-3.jpg" alt="" class="product-img">
				<h3>
					<ul>
						<li>Гальваношламы</li>
						<li>Химические отходы</li>
					</ul>
				</h3>
			</a>

			<a href="sozh.html" class="services-product">
				<img src="assets/img/services/product-4.jpg" alt="" class="product-img">
				<h3>
					<ul>
						<li>СОЖ</li>
						<li>Отработанные масла</li>
						<li>Растворители</li>
						<li>ЛКМ</li>
					</ul>
				</h3>
			</a>

			<a href="phb.html" class="services-product">
				<img src="assets/img/services/product-5.jpg" alt="" class="product-img">
				<h3>
					<ul>
						<li>Оборудование с содержанием ПХБ</li>
						<li>Оборудование с содержанием ПХД</li>
					</ul>
				</h3>
			</a>

			<a href="med.html" class="services-product">
				<img src="assets/img/services/product-6.jpg" alt="" class="product-img">
				<h3>
					<ul>
						<li>Ртутные лампы</li>
						<li>Медицинские отходы</li>
					</ul>
				</h3>
			</a>

		</div>

	</article>

</section>


<section class="sub-content">
	<div class="grid-container">
		<div class="cell">
			Многолетний опыт работы ООО ПромТехУтилизации позволяет оперативно решать любые вопросы по утилизации отходов от паспортизации отхода, безопасного сбора и транспортировки любых видов промышленных отходов до конечной утилизации, обезвреживания либо размещения отхода на ОРО (спец полигоны).
		</div>
	</div>
</section>